.DS_Store
node_modules/
npm-debug.log
yarn-error.log
dist/
package-lock.json

server/routes/config.js
server/db/config.js
config/dev.env.js
config/prod.env.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
